.header nav a {
    text-decoration: none;
    margin-right: 30px;
    color: white;
    font-size: 20px;
    margin-left: 10px;
}
.header {
    background-color: black;
    color: white;
    margin-top: 20px;
    padding: 20px;
}

.header nav a:hover {
    background-color: rgb(105, 6, 44);
    padding: 5px;
}
